*{
    margin: 0;
    padding: 0;
text-align: center;
 background-color:#c6b7ea;
;
}


 h1{
    background-color: darkslateblue;
    color: rgb(28, 154, 154);
    height: 5rem;
    line-height: 5rem;
 }


 .choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
 }


 img{
     height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;

 }


 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
   
}


.choice:hover{
    cursor: pointer;
      background-color: rgb(101, 101, 101);
      padding: 0.5px;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 3rem;
}


#user-score, #comp-score{
font-size: 4rem;
}


#msg{
    background-color: rgb(17, 17, 37);
    border-radius: 0.5rem;
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  padding: 0.1rem;
}


.msg-container{
    margin-top: 2rem;

}


